* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
max-width: 1920px;
  background: #ffffff;
  color: #222;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.primary {
  background: #2ecc71;
  color: white;
}

.secondary {
  border: 1px solid #fff;
  color: #fff;
}


.navbar {
  background: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.hero {   
  position: relative;
  color: white;
  padding: 70px 120px 70px 120px;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.overlay, img {
  height: 100%;
  width: 100%;
}
.hero-content {
  position: relative;
  text-align: center;
}

.badge {
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #2ecc71;
}

.badge img {
  vertical-align: middle;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.hero h1 {
  font-size: 42px;
  margin: 20px 0;
}

.hero h1 span {
  color: #2ecc71;
}

.hero p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.hero-buttons {
  margin-top: 25px;
}

.hero-buttons img {
  height: 20px;
  width: 20px;
  padding:4px 0 0 4px;
}
